/* src/App.css */

/* Navbar */
nav {
  background-color: #26a69a;
}

nav a {
  color: #fff !important;
}

/* Card */
.card {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
}

/* Collection Item */
.collection-item {
  cursor: pointer;
}

/* Button */
.btn-small {
  margin-top: 10px;
}

/* Container */
.container {
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: #26a69a;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
